In [19]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

In [34]:
#загружаем титаник
data = pd.read_csv('C:\\Users\\user\\Jupiter\\Intro_to_DS\\w1\\titanic.csv')

In [35]:
#оставляем только интересующие признаки и таргет
df = data[['Pclass', 'Fare', 'Age', 'Sex','Survived']]

In [36]:
#удаляем строки с пустыми значениями
df.dropna(inplace=True)

<ipython-input-36-c64f9f573c18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [37]:
#смотрим что получилось
df.head()

   Pclass     Fare   Age     Sex  Survived
0       3   7.2500  22.0    male         0
1       1  71.2833  38.0  female         1
2       3   7.9250  26.0  female         1
3       1  53.1000  35.0  female         1
4       3   8.0500  35.0    male         0

In [38]:
#смотрим на признаки
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    714 non-null    int64
 1   Fare      714 non-null    float64
 2   Age       714 non-null    float64
 3   Sex       714 non-null    object
 4   Survived  714 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 33.5+ KB

In [39]:
#переводим SEX в числовой признак
label_encoder = LabelEncoder()

In [40]:
y = label_encoder.fit_transform(df['Sex'])

In [42]:
df['Sex'] = y

<ipython-input-42-e7f82b70a5fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sex'] = y

In [43]:
df['Sex']

0      1
1      0
2      0
3      0
4      1
      ..
885    0
886    1
887    0
889    1
890    1
Name: Sex, Length: 714, dtype: int32

In [44]:
#смотрим что получилось
df.head()

   Pclass     Fare   Age  Sex  Survived
0       3   7.2500  22.0    1         0
1       1  71.2833  38.0    0         1
2       3   7.9250  26.0    0         1
3       1  53.1000  35.0    0         1
4       3   8.0500  35.0    1         0

In [45]:
#выделяем таргет в вектор целей
y = df['Survived']

In [46]:
#делаем матрицу признаков
X = df[['Pclass', 'Fare', 'Age', 'Sex']]

In [47]:
#смотрим что получилось
X

     Pclass     Fare   Age  Sex
0         3   7.2500  22.0    1
1         1  71.2833  38.0    0
2         3   7.9250  26.0    0
3         1  53.1000  35.0    0
4         3   8.0500  35.0    1
..      ...      ...   ...  ...
885       3  29.1250  39.0    0
886       2  13.0000  27.0    1
887       1  30.0000  19.0    0
889       1  30.0000  26.0    1
890       3   7.7500  32.0    1

[714 rows x 4 columns]

In [48]:
#создаем модель дерево решений
model = DecisionTreeClassifier(random_state=241)

In [49]:
#тренируем модель дерево решений
model.fit(X,y)

DecisionTreeClassifier(random_state=241)

In [50]:
#сохраняем в переменную список важностей признаков
importances = model.feature_importances_

In [52]:
#смотрим на важность признаков
importances

array([0.14000522, 0.30343647, 0.2560461 , 0.30051221])

## Самые важные в нашем игрушечном примере признаки: Fare и Sex